root_element {
	& ._button {
		cursor: pointer;
		user-select: none;
	}


	& ._polytrade {
		width: 100%;
	    background: #1c272d;
	    padding: 8px;
	    padding-top: 0;
	    padding-bottom: 0;
	    border: 1px solid #19232a;
	    box-sizing: border-box;
	    color: #F5F6F7;
	    font-family: "Roboto", sans-serif;
	    border-radius: 3px;
	    margin-bottom: 6px;
	    position: relative;

	    & p {
	    	margin: 0;
	    }

	    & > ._header {
	    	height: 32px;
	    	border-bottom: 1px solid transparent;
	    	display: flex;
	    	flex-direction: row;
	    	align-items: center;
	    	cursor: pointer;

	    	& ._expander {
	    		height: 100%;
	    		display: flex;
	    		flex-direction: row;
	    		align-items: center;
	    		justify-content: center;
	    		width: 20px;
		    	transition: transform 0.2s ease;

	    		& p {
	    			font-family: monospace;
	    			font-weight: bold;
	    			font-size: 20px;
	    		}
	    	}

	    	& ._caption {
	    		display: flex;
	    		flex-direction: column;
	    		justify-content: center;

	    		& p {
	    			text-transform: uppercase;
	    			font-size: 13px;
	    		}
	    	}

	    	& > * {
	    		height: 100%;
	    	}
	    }

	    & > ._content {
	    	min-height: 112px;
	    	display: none;
	    }

	    &._expanded {
	    	padding-bottom: 8px;
	    	& > ._header {
	    		border-color: rgba(100, 100, 100, 0.3);
	    		& ._expander {
	    			transform: rotate(90deg);
	    		}
	    	}

	    	& > ._content {
	    		display: flex;
	    	}
	    }
	}

	& ._tabs {
		display: flex;
		flex-direction: row;
		height: 100%;
		padding: 0 8px;
		margin-left: auto;

		& ._tab {
			height: 100%;
		    margin: 0 4px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    border-bottom: 1px solid transparent;
		    transition: border-bottom 0.2s ease;
		    box-sizing: border-box;
		    color: #A4A9AC;

		    &._active {
		    	border-bottom-color: #a4a9ac;
		    }
		}
	}

	& ._tab-content {
		display: none;
		width: 100%;
		min-height: 100%;
		overflow: auto;
		padding-top: 8px;

		&._active {
			display: flex;
		}
	}

	input[type="text"] {
		border: none;
	    outline: none;
	    background: transparent;
	    color: #eeeeee;
	    padding: 0 8px;
	    height: 100%;
	    line-height: 14px;
	    font-size: 14px;
	    transition: background 0.2s ease;
	    margin:0;
	    border:none;

	    &:focus {
	    	background: #141c1f;
	    }
	}
}