root_element {
	& ._users-table {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		position: relative;

		& ._table-row {
			display: flex;
			width: 100;
			display: flex;
			flex-direction: row;
			height: 24px;
			align-items: center;

			p {
				font-size: 14px;
				&._balance {
					flex-grow: 1;
					color: #CDDC39;
					text-indent: 8px;
				}

				&._order {
					color: #979797;
					padding: 0 4px;
				}

				&._name {
					color: #979797;
				}
			}


			input {
				min-width: 35%;
			}

			&:nth-child(odd) {
			    background: #243238;
			}
		}
	}
}